.point-red {
  border-bottom: #ea5455;
}

.green {
  border-bottom: 6px solid #64ea86;
}

.orange {
  border-bottom: 6px solid #efd93b;
}

body {
  background-color: #27293b;
}

.mobile-main-nav {
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2f3247;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.mobile-main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-main-nav ul > li {
  border-top: 1px solid #353d4e;
  width: 100%;
  height: 100%;
  line-height: 1.25rem;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
}

.mobile-main-nav ul > li a {
  text-decoration: none;
  color: #757886;
}

.mobile-main-nav ul > li a svg {
  width: 1.5rem;
  height: 2rem;
}

.mobile-main-nav ul > li a:hover {
  color: #fff;
}

.mobile-main-nav ul > li:last-child {
  background-color: red;
  position: fixed;
  width: 4rem;
  height: 4rem;
  bottom: 6rem;
  right: 1rem;
  border: 1px solid #353d4e;
  border-radius: 0.5rem;
  z-index: 1000;
}

.mobile-activities div {
  display: block;
  height: 4rem;
  line-height: 4rem;
  margin: 2rem auto;
  background-color: #3b3e52;
  color: #fff;
  width: 80vw;
  border-radius: 1rem;
  border: 1px solid #353d4e;
}

.mobile-activities div label {
  margin-left: 0.75rem;
}

.mobile-activities div input {
  margin-left: 1rem;
}

.mobile-air-condition-local-points-wrapper {
  outline: 1px dashed red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 70vh;
  overflow: auto;
}

.mobile-air-condition-local-points-wrapper header {
  color: #fff;
}

.mobile-air-condition-local-points-wrapper header > h3 {
  display: block;
  width: 100vw;
  padding-left: 2rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  background-color: #2f3247;
}

.mobile-air-condition-local-points-wrapper header > ul {
  background-color: #27293b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  margin: 1rem 0;
}

.mobile-air-condition-local-points-wrapper header > ul li {
  border: 1px solid #353d4e;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.mobile-air-condition-local-points-wrapper header > ul li:hover {
  background-color: #666878;
}

.mobile-air-condition-local-points-wrapper header > ul a {
  color: #6d707e;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

.mobile-air-condition-local-points-wrapper header > ul a:hover {
  height: 100%;
  width: 100%;
  color: #fff;
}

.mobile-air-condition-local-points-wrapper .mobile-air-condition-local-point {
  background-color: #3b3e52;
  width: 28vw;
  height: 8rem;
  border: 1px solid #353d4e;
  border-radius: 0.5rem;
  padding: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.mobile-air-condition-local-points-wrapper .mobile-air-condition-local-point footer {
  position: absolute;
  bottom: 0;
}

.mobile-air-condition-local-points-wrapper .mobile-air-condition-local-point h3 {
  color: #fff;
}

.mobile-air-condition-local-points-wrapper .mobile-air-condition-local-point p {
  color: #757886;
  line-height: 1.3rem;
}
/*# sourceMappingURL=mobile.css.map */