// $mobile-height: 8vh;
$mobile-height: 5rem;
$mobile-menu-icons-size: 1.5rem;
$mobile-bg-first: #2f3247;
$mobile-bg-second: #27293b;
$mobile-color-font-nav-link: #757886;
$border: 1px solid #353d4e;

$color-red: #ea5455;
$color-orange: #efd93b;
$color-green: #64ea86;

$color-text: #fff;
$color-text-second: #757886;
$color-header: #fff;
.point-red {
    border-bottom: $color-red;
}

.green {
    border-bottom: 6px solid $color-green;
}

.orange {
    border-bottom: 6px solid $color-orange;
}

body {
    background-color: $mobile-bg-second;
}

.mobile-main-nav {
    z-index: 10000;
    display: flex;
    background-color: $mobile-bg-first;
    position: fixed;
    bottom: 0;
    width: 100vw;

    ul {
        display: flex;
        width: 100%;
        height: $mobile-height;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;

        & > li {
            border-top: $border;
            width: 100%;
            height: 100%;
            // line-height: $mobile-height + $mobile-menu-icons-size;
            line-height: $mobile-height / 4;
            text-align: center;
            margin: 0;
            padding: 1rem 0;

            a {
                // background-color: red;
                // outline: 1px solid blue;
                text-decoration: none;
                // line-height: $mobile-height;
                color: $mobile-color-font-nav-link;

                svg {
                    width: $mobile-menu-icons-size;
                    height: 2rem;
                }

                &:hover {
                    color: #fff;
                }
            }

            &:last-child {
                background-color: red;
                position: fixed;
                width: 4rem;
                height: 4rem;
                // line-height: $mobile-height + $mobile-menu-icons-size;
                bottom: 6rem;
                right: 1rem;
                border: $border;
                border-radius: 0.5rem;
                z-index: 1000;
            }
        }
    }
}

.mobile-activities {
    // display: flex;
    // flex-direction: column;
    div {
        display: block;
        height: 4rem;
        line-height: 4rem;
        margin: 2rem auto;
        background-color: #3b3e52;
        color: #fff;
        width: 80vw;
        border-radius: 1rem;
        border: $border;

        label {
            margin-left: 0.75rem;
        }

        input {
            margin-left: 1rem;
        }
    }
}

.mobile-air-condition-local-points-wrapper {
    outline: 1px dashed red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 92vh;
    overflow: auto;

    header {
        color: $color-header;
        // margin-bottom: 1rem;
    }

    header > h3 {
        display: block;
        width: 100vw;
        padding-left: 2rem;
        font-weight: 600;
        height: 3rem;
        line-height: 3rem;
        background-color: $mobile-bg-first;
    }

    header > ul {
        background-color: $mobile-bg-second;
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        flex-wrap: nowrap;
        list-style: none;
        // outline: 1px dashed red;
        margin: 1rem 0;
        // width: 200%;

        li {
            border: $border;
            border-radius: 0.5rem;
            padding: 0.5rem;

            &:hover {
                background-color: #666878;
            }
        }

        a {
            color: #6d707e;
            text-decoration: none;
            display: block;
            height: 100%;
            width: 100%;

            &:hover {
                height: 100%;
                width: 100%;
                color: #fff;
            }
        }
    }

    .mobile-air-condition-local-point {
        background-color: #3b3e52;
        width: 28vw;
        height: 8rem;
        border: $border;
        border-radius: 0.5rem;
        padding: 0.5rem;
        position: relative;
        margin-bottom: 0.5rem;

        footer {
            position: absolute;
            bottom: 0;
        }

        h3 {
            color: $color-text;
        }

        p {
            color: $color-text-second;
            line-height: 1.3rem;
        }
    }
}
