@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;600;700&family=Open+Sans:wght@300;400;600;800&display=swap");
$green: rgba(49, 161, 130, 1);
$white: rgba(255, 255, 255, 1);
$pageWidth: 1200px;
$articleWidth: $pageWidth - 400px;

$borderGray: rgba(222, 224, 227, 1);

$colorLinkDarkCU: rgba(80, 40, 0, 1);
$colorlinkgreen: rgba(57, 179, 151, 1);
$colorFontPrimary: rgba(51, 51, 51, 1);
$colorFontCu: rgba(167, 117, 86, 1);

* {
    font-size: 16px;
}

body {
    // font-family: "KoHo", sans-serif;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.avatar {
    width: 30px;
    height: 30px;
}

header.title {
    background-color: $green;
    h1 {
        color: $white;
        font-weight: 600;
        padding: 8px;

        width: $pageWidth;
        margin: 0 auto;
    }
}
nav.header-nav {
    margin: 0 auto;
    width: $pageWidth;
    // outline: 1px dashed red;
    height: 70px;
    display: flex;
    align-items: center;
    .logo {
        width: 180px;
        height: 50px;
    }
    ul.main-nav {
        // outline: 1px dashed blue;
        display: flex;
        & > li {
            margin-left: 30px;

            a:link {
                font-size: 0.9rem;
                color: $colorFontCu;
                text-decoration: none;
            }
            a:hover {
                color: $colorlinkgreen;
            }
        }
    }
}

article.article {
    width: $articleWidth;
    margin: 0 auto;
    border: 1px solid $borderGray;
    border-radius: 5px;

    & > header {
        // outline: 1px dashed red;
        height: 50px;
        display: flex;
        align-items: center;
        img.avatar {
            padding: 0 10px;
        }
        h2 {
            font-size: 1rem;
            font-weight: 600;
        }
    }

    & > footer {
        // outline: 1px dashed orange;
        height: 30px;
        line-height: 30px;
        text-align: right;
        margin: 0 20px;
        padding: 10px 50px;
        border-top: 1px solid $borderGray;
    }
}

.control-panel {
    display: none;
}

.show-field {
    display: block;
}

.result-alerts {
    display: none;
}
